.exchange-rates{
    display: grid;
    grid-template-columns: 12em 1fr;
    grid-column-gap: 3em;
    justify-content: center
}

.exchange-rates__form{
    grid-column: 1;
}

.exchange-rates__table{
    grid-column: 2;
}

.exchange-rates__message{
    display: flex;
    grid-column: 2;
    background: #eee;
    border: 1px solid #bbb;
    align-items: center;
    justify-content: center;
}